Name: Extra user flags
Description: advanced flags for judge
Version: null

Cflags: >
    -march=native

    -pthread

    -ftrivial-auto-var-init=zero

    -fconstexpr-depth=1024

variant:
    gcc:
        Cflags: >
            -fconstexpr-loop-limit=524288
            -fconstexpr-ops-limit=2097152

    clang:
        Cflags: >
            -fconstexpr-steps=524288

            -fexperimental-library

        Libs: >
            -fopenmp
            -fopenmp-extensions
